body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #00B7FF;
}

#canvas {
  margin-top: 25px;
  z-index: 10;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }
}

.game-over-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 11;
}

.game-over-box {
  width: 40vw;
  height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(56, 56, 56);
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-radius: 10px;
}

button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(195, 195, 195);
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  filter: brightness(80%);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}


/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  #canvas {
    margin-top: 0px;
  }

  canvas {
    width: 100%;
    height: 660px;
  }

  .game-over-box {
    width: 80vw;
    height: 30vh;
    transform: translate(-50%, -70%);
  }
}


/* init screen @Julian */
#init-screen_container  {
  height: 100vh;
  width:100vw;
  color: white;
}

.init-screen_title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.init-screen_buttonGroup {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  height: 40vh;
}

.init-screen_button {
  font-size: 18px;
  flex: 0 0 120px;
  background-color: #e7e7e7; 
  color: black;
} 

.init-screen_footerGroup {
  text-align: center;
  position: absolute;
  width: 100%; 
  bottom: 0;
}

.init-screen_footerText{
  font-size: 16px;
  text-align: center;
  font-style: italic;
  padding: 10px;
}